<launch>
    <include file="$(find cloudserver)/launch/cloudserver.launch">
        <arg name="websocket_external_port" value="80" />
    </include>
    <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />

    <!-- Will not work on Raspberry Pi, to use on a non-ARM computer only
        Hardware communication is disabled with simulation_mode flag
        The hardware interface will just follow the command given by the chosen controller (ros_controllers)
    -->

    <arg name="execute_on_niryo_one_raspberry_pi_image" value="false"/>

<!--
    <arg name="urdf_without_meshes" default="false" />
    <include file="$(find niryo_one_bringup)/launch/niryo_one_base.launch" pass_all_args="true"/>

    <include file="$(find niryo_one_bringup)/launch/controllers.launch">
        <arg name="simulation_mode" value="true" />
    </include>
 -->

 <!--
    <include file="$(find niryo_one_bringup)/launch/robot_commander.launch">
        <arg name="simulation_mode" value="true" />
    </include>
 -->
<!--
    <include file="$(find niryo_one_bringup)/launch/user_interface.launch">
        <arg name="simulation_mode" value="true" />
    </include>
 -->

    <arg name="hardware_version" default="2" />
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find niryo_one_description)/urdf/v1/niryo_one.urdf.xacro'" if="$(eval hardware_version == 1)"/>
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find niryo_one_description)/urdf/v2/niryo_one.urdf.xacro'" if="$(eval hardware_version == 2)"/>

    <param name="robot_description" command="$(arg urdf_file)" />
    <include file="$(find niryo_one_moveit_config)/launch/move_group.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find niryo_one_description)/config/default_config.rviz" />

    <param name="/niryo_one/python_api/service_timeout" value="10" />
    <param name="/niryo_one/python_api/action_connection_timeout" value="10" />
    <param name="/niryo_one/python_api/action_execute_timeout" value="10" />
    <param name="/niryo_one/python_api/action_preempt_timeout" value="10" />
    <rosparam file="$(find niryo_one_tools)/config/end_effectors.yaml" ns="niryo_one_tools" />

    <node name="web_video_server" pkg="web_video_server" type="web_video_server">
        <param name="port" value="5151" />
        <param name="address" value="0.0.0.0" />
        <!-- <param name="server_threads" value="2" /> -->
        <!-- <param name="ros_threads" value="2" /> -->
    </node>
    <!-- <include file="$(find niryo_one_bringup)/launch/desktop_rviz_simulation.launch" /> -->
</launch>
